---
- name: My first play

  hosts:
    - proxmox-container

  vars:
    hostname: nextcloud
    qdn: homelab
    new_installation: false

  handlers:
    - name: Reload wireguard configuration
      become: true
      ansible.builtin.service:
        name: wg-quick@wg0.service
        state: reloaded

    - name: Restart nftables
      ansible.builtin.service:
        name: nftables
        state: restarted
        enabled: true

  tasks:
    - name: Ping my hosts
      ansible.builtin.ping:

    - name: Print message
      ansible.builtin.debug:
        msg: Hello world

    - name: Update /etc/hosts
      ansible.builtin.lineinfile:
        path: /etc/hosts
        line: "127.0.0.1 {{ hostname }} {{ hostname }}.{{ qdn }}"
        create: yes

    - name: Set hostname
      ansible.builtin.hostname:
        name: "{{ hostname }}"

    - name: Set timezone
      ansible.builtin.timezone:
        name: "America/Chicago"

    - name: Update dnf package cache
      ansible.builtin.dnf:
        update_cache: true

    - name: Install packages
      ansible.builtin.dnf:
        name:
          - nginx
          - unzip
          - gpg
          - certbot
          - python3-certbot-nginx
          - nftables
          - wireguard-tools
        state: latest
  
    - name: Copy wireguard configuration
      ansible.builtin.template:
        dest: /etc/wireguard/wg0.conf
        src: ./files/wg0.conf
        owner: root
        group: root
        mode: '0600'
      notify:
        - Reload wireguard configuration

    - name: Start wireguard
      ansible.builtin.service:
        name: wg-quick@wg0.service
        state: started
        enabled: true

    - name: Copy nftables configuration
      notify: Restart nftables
      ansible.builtin.copy:
        src: ./files/nftables.conf
        dest: /etc/sysconfig/nftables.conf
        owner: root
        group: root
        mode: '0755'

    - name: Copy nginx configuration
      ansible.builtin.copy:
        src: ./files/nginx.conf
        dest: /etc/nginx/nginx.conf
        owner: root
        group: root
        mode: '0644'

    - name: Start nginx
      ansible.builtin.service:
        name: nginx
        state: started
        enabled: true

    - name: Download and install smallstep root ca
      ansible.builtin.get_url:
        validate_certs: false
        url: https://smallstep.homelab/roots.pem
        dest: /etc/pki/ca-trust/source/anchors/smallstep-ca.crt

    - name: Update CA trust
      changed_when: "'' != update_ca_trust_result.stdout"
      register: update_ca_trust_result
      ansible.builtin.command:
        cmd: update-ca-trust

    - name: Get certbot certificate
      # Note: No trailing slash in server URL
      changed_when: "'no action taken' not in certbot_result.stdout"
      register: certbot_result
      ansible.builtin.command:
        cmd: certbot certonly --server https://smallstep.homelab/acme/acme/directory --nginx -d {{ hostname }} -d {{ hostname }}.{{ qdn }} --non-interactive --agree-tos -m admin@homelab

    # https://docs.nextcloud.com/server/latest/admin_manual/installation/example_centos.html
    - name: Install Nextcloud dependencies
      ansible.builtin.dnf:
        name:
          - php-cli
          - php-intl
          - php-pecl-apcu
          - php-opcache
          - php-json
          - php-zip
          - php-redis
          - php-imagick
          - php
          - php-fpm
          - php-mysqlnd
          - php-gd
          - php-curl
          - php-xml
          - php-mbstring
          - redis
        state: latest

    - name: Set user in nginx.conf to apache
      ansible.builtin.lineinfile:
        path: /etc/nginx/nginx.conf
        regexp: '^user nginx;'
        line: 'user apache;'

    - name: Restart nginx
      ansible.builtin.service:
        name: nginx
        state: restarted
        enabled: true

    - name: Fix php-fpm configuration (user)
      ansible.builtin.lineinfile:
        path: /etc/php-fpm.d/www.conf
        regexp: '^user ='
        line: 'user = apache'

    - name: Fix php-fpm configuration (group)
      ansible.builtin.lineinfile:
        path: /etc/php-fpm.d/www.conf
        regexp: '^group ='
        line: 'group = apache'

    - name: Fix php-fpm configuration (listen owner)
      ansible.builtin.lineinfile:
        path: /etc/php-fpm.d/www.conf
        regexp: '^;?listen.owner ='
        line: 'listen.owner = apache'

    - name: Fix php-fpm configuration (listen group)
      ansible.builtin.lineinfile:
        path: /etc/php-fpm.d/www.conf
        regexp: '^;?listen.group ='
        line: 'listen.group = apache'

    - name: Fix php-fpm configuration (listen mode)
      # listen owner/group settings doesn't see to take effect,
      # so we set listen mode to 0666 to allow nginx to access the socket
      ansible.builtin.lineinfile:
        path: /etc/php-fpm.d/www.conf
        regexp: '^;?listen.mode ='
        line: 'listen.mode = 0666'

    - name: Restart php-fpm
      ansible.builtin.service:
        name: php-fpm
        state: restarted
        enabled: true

    - name: Start redis
      ansible.builtin.service:
        name: redis
        state: started
        enabled: true

    - name: Create /var/www/html directory
      ansible.builtin.file:
        path: /var/www/html
        state: directory
        mode: '0755'

    - name: When new installation
      when: new_installation
      block:
      - name: Download Nextcloud
        ansible.builtin.get_url:
          url: https://download.nextcloud.com/server/releases/latest.zip
          dest: /tmp/nextcloud-latest.zip

      - name: Download Nextcloud GPG signature
        ansible.builtin.get_url:
          url: https://download.nextcloud.com/server/releases/latest.zip.asc
          dest: /tmp/nextcloud-latest.zip.asc

      - name: Import Nextcloud GPG key
        ansible.builtin.command:
          cmd: gpg --keyserver keyserver.ubuntu.com --recv-keys 28806A878AE423A28372792ED75899B9A724937A

      - name: Verify Nextcloud download
        ansible.builtin.command:
          cmd: gpg --verify /tmp/nextcloud-latest.zip.asc /tmp/nextcloud-latest.zip
          chdir: /tmp

      - name: Unzip Nextcloud
        ansible.builtin.unarchive:
          src: /tmp/nextcloud-latest.zip
          dest: /var/www/html/
          remote_src: yes

      - name: Set ownership of Nextcloud files
        ansible.builtin.file:
          path: /var/www/html/nextcloud
          owner: apache
          group: apache
          recurse: yes
